<%- include("./header.ejs") %>
<%- include("./sidebar.ejs") %>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Dsahboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- maincontent -->
    <h1 class="text-center mt-5">Course View</h1>
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>phone</th>
                <th>gender</th>
                <th>education</th>
                <th>address</th>
                <th>dob</th>
               
            </tr>
            
            <tr>
                <td><%= d.id %></td>
                <td><%= d.name %></td>
                <td><%= d.email %></td>
                <td><%= d.course %></td>
                <td><%= d.phone %></td>
                <td><%= d.gender %></td>
                <td><%= d.education %></td>
                <td><%= d.address %></td>
                <td><%= d.dob %></td>
            </tr>
        </table>
    
    </div> <!--container end-->
    
    <center>
        <a href="/admin/courseDisplay" class="btn btn-info">back</a>
    </center>
</div>

<%- include ("./footer.ejs") %>