<%- include("./header.ejs") %>
    <!--slider start-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="image/slide1.webp" class="d-block w-100 " alt="...">

            </div>
            <div class="carousel-item">
                <img src="image/slide5.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="image/slide3.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--slider end-->

    <!--Detail of amity start -->
    <div class="container-fluid+ my-amity-detail">
        <h1></h1>
    </div>

    <!--Detail of amity end -->


    <!--Programe details start-->
    <div class="container mt-5 ">
        <!--graduate programe start -->
        <h1 class="text-center">Graduate Programs</h1>
        <!--row start-->
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card">
                    <img src="image/bcs.png" class="w-80" alt="">
                    <div class="card-body">

                        <center>
                            <h1>B.Sc-IT</h1>
                            <button type="button" class="btn btn-outline-secondary button" data-bs-toggle="modal"
                                data-bs-target="#btech">Register Here...</button>

                        </center>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <img src="" alt="">
                </div>
            </div>


        </div>
        <!--row end-->



        <!--graduate programe end-->

    </div>


    <!--Programe details end-->


    <!--B-tech Modal -->
    <div class="modal fade" id="#btech" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" name="name" class="form-control" value="<%= n %>">

                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" name="email" class="form-control" value="<%= e %>">

                        </div>
                        <div class="mb-3">
                            <label for="">phone no.</label>
                            <input type="number" name="phone no." class="form-control">

                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">

                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea type="name" name="address" class="form-control">

                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender"  value="female">Female
                        
                            <textarea type="name" name="address" class="form-control">

                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                          <label for="">Course</label>
                          <input type="text" value="btech" class="form-control" name="course">

                        </div>
                        <button type="submit" class="btn btn-success">submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!--footer start-->

    <%- include("./footer.ejs") %>

    <!-- <%- include("./footer.ejs") %> -->